.auth-main {
  width: 100%;
  max-width: 400px;
  margin: 80px auto;
  padding: 20px;
}

.auth-main {
  flex: 1;
  width: 100%;
  max-width: 400px;
  margin: 80px auto;
  padding: 20px;
}

.auth-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.auth-content {
  flex-grow: 1;
}
