.form-container {
  width: 100%;
  max-width: 400px;
  margin: 60px auto !important;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-container input {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #999;
}

.form-container button {
  width: 100%;
  padding: 12px;
  background-color: #ff7b00;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.form-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}
