.form-container {
  width: 100%;
  max-width: 400px;
  margin: 60px auto !important;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-container input {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #999;
}

.form-container button {
  width: 100%;
  padding: 12px;
  background-color: #ff7b00;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.form-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}

/* src/App.css */

/*
* 1. Habilitar la estructura Flexbox para el contenedor principal
* (el div con la clase 'main-layout' que envuelve todo).
*/
.main-layout {
  display: flex;
  flex-direction: column; /* Apilar elementos verticalmente (Navbar, Contenido, Footer) */
  min-height: 100vh; /* Ocupar al menos el 100% del alto de la ventana */
}

/*
* 2. El contenedor de contenido (main) debe tomar todo el espacio restante.
* Esto "empuja" al Footer al final de la vista.
*/
.main-content {
  flex-grow: 1; /* Esto hace que el elemento crezca y llene el espacio vacío */
}
