html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background: #1c2733;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.4;
}

a {
  color: #ffd24c;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
